@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    width: 126px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
    text-decoration: none;
}

.button-header {
    background: #665AE1;
    border-radius: 20.5px;
    Width: 130px;
    Height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;
}

.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    width: 513px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    margin-bottom: 32px;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    width: 515px;
    color: #848484;
    margin-bottom: 65px;
}

.button-main {
    background: #ADFF00;
    border-radius: 40px;
    border: none;
    width: 239px;
    height: 64px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

    color: #000000;
    margin-bottom: 80px;
}


@media screen and (max-width:1300px){
    header{
        display: none;
    }
    main{
        padding-top: 20%;
        padding-bottom: 133px;
    }
    
    .logo-image{
        width: 354px;
        height: 317px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 24px;
    }
    
    section{
        display: block;
        margin: 0;
    }

    h1{
        width: 263px;
        height: 52px;
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;
        color: #515151;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 7px;
    }

    h2{
        width: 232px;
        height: 37px;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: #515151;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    p {
        display: none;
    }

    button{
        width: 239px;
        height: 64px;
        background: #ADFF00;
        border-radius: 20.5px;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        color: #000000;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 133px;
    }
}